.metodosDePago {
  height: auto;
  width: 45%;
  padding: 10px;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.sombra {
  text-shadow: 5px;
  text-decoration: double;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.clase1 {
  background-color: rgb(66, 0, 0) !important;
}


.nav-item a {
  font-size: 200%;
}

.footer {
  background-color: rgb(10, 10, 10);
}

.overlay {
  background-color: transparent; /* Cambiar el color de fondo a transparente */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-overlay {
  position: relative;
  overflow: auto; /* Agregado para evitar desbordamiento */
}

.text-block {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}


.text-block p {
  color: white;
  text-align: justify;
  margin-bottom: 20px;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  padding-top: 56.25%; /* Relación de aspecto 16:9 */
}

.embed-responsive .embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
@media (max-width: 768px) {
  .text-block {
      padding: 10px;
  }

  .text-block p {
      font-size: 14px;
  }
}

.container-fluid {
  padding: 0;
}

.modal-target {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-target img {
  max-width: 90%;
  max-height: 90%;
}

/* Estilos para mostrar el modal cuando se hace clic en la imagen */
.modal-target:target {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0s;
}

/* Estilos para el botón de cerrar el modal */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre los elementos de la galería */
}

.gallery-item {
  position: relative;
  flex: 1 1 calc(25% - 10px); /* Ancho del 25% menos el espacio del gap */
  box-sizing: border-box;
  overflow: hidden; /* Ocultar cualquier exceso de imagen */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
  object-position: center; /* Centra la imagen dentro del contenedor */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .gallery-item {
    flex: 1 1 calc(50% - 10px); /* Ancho del 50% menos el espacio del gap */
  }
}

@media (max-width: 480px) {
  .gallery-item {
    flex: 1 1 100%; /* Ancho completo para dispositivos pequeños */
  }
}